Kendala Pada Struktur
Oleh Yohan Naftali 1999

Nama File Generik : data01/gedung
Nama Struktur : GEDUNG_2_LANTAI

Balok 1
Nomor Batang : 13
Kendala akibat lendutan : 0

Daerah Lapangan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Daerah Tumpuan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Balok 2
Nomor Batang : 14
Kendala akibat lendutan : 0

Daerah Lapangan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Daerah Tumpuan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Balok 3
Nomor Batang : 15
Kendala akibat lendutan : 0

Daerah Lapangan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Daerah Tumpuan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Balok 4
Nomor Batang : 16
Kendala akibat lendutan : 0

Daerah Lapangan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Daerah Tumpuan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Balok 5
Nomor Batang : 17
Kendala akibat lendutan : 0

Daerah Lapangan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Daerah Tumpuan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Balok 6
Nomor Batang : 18
Kendala akibat lendutan : 0

Daerah Lapangan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Daerah Tumpuan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Balok 7
Nomor Batang : 19
Kendala akibat lendutan : 0

Daerah Lapangan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Daerah Tumpuan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Balok 8
Nomor Batang : 20
Kendala akibat lendutan : 0

Daerah Lapangan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Daerah Tumpuan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Balok 9
Nomor Batang : 21
Kendala akibat lendutan : 0

Daerah Lapangan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Daerah Tumpuan
Kendala rasio penulangan 0
Kendala sengkang : 0
Kendala momen lentur : 0

Kolom 1
Nomor Batang : 1

Kendala gaya : 0
Kendala rasio penulangan : 0
Kendala jarak tulangan : 0
Kendala sengkang : 0
Kendala kelangsingan kolom : 0

Kolom 2
Nomor Batang : 2

Kendala gaya : 0
Kendala rasio penulangan : 0
Kendala jarak tulangan : 0
Kendala sengkang : 0
Kendala kelangsingan kolom : 0

Kolom 3
Nomor Batang : 3

Kendala gaya : 0
Kendala rasio penulangan : 0
Kendala jarak tulangan : 0
Kendala sengkang : 0
Kendala kelangsingan kolom : 0

Kolom 4
Nomor Batang : 4

Kendala gaya : 0
Kendala rasio penulangan : 0
Kendala jarak tulangan : 0
Kendala sengkang : 0
Kendala kelangsingan kolom : 0

Kolom 5
Nomor Batang : 5

Kendala gaya : 0
Kendala rasio penulangan : 0
Kendala jarak tulangan : 0
Kendala sengkang : 0
Kendala kelangsingan kolom : 0

Kolom 6
Nomor Batang : 6

Kendala gaya : 0
Kendala rasio penulangan : 0
Kendala jarak tulangan : 0
Kendala sengkang : 0
Kendala kelangsingan kolom : 0

Kolom 7
Nomor Batang : 7

Kendala gaya : 0
Kendala rasio penulangan : 0
Kendala jarak tulangan : 0
Kendala sengkang : 0
Kendala kelangsingan kolom : 0

Kolom 8
Nomor Batang : 8

Kendala gaya : 0
Kendala rasio penulangan : 0
Kendala jarak tulangan : 0
Kendala sengkang : 0
Kendala kelangsingan kolom : 0

Kolom 9
Nomor Batang : 9

Kendala gaya : 0
Kendala rasio penulangan : 0
Kendala jarak tulangan : 0
Kendala sengkang : 0
Kendala kelangsingan kolom : 0

Kolom 10
Nomor Batang : 10

Kendala gaya : 0
Kendala rasio penulangan : 0
Kendala jarak tulangan : 0
Kendala sengkang : 0
Kendala kelangsingan kolom : 0

Kolom 11
Nomor Batang : 11

Kendala gaya : 0
Kendala rasio penulangan : 0
Kendala jarak tulangan : 0
Kendala sengkang : 0
Kendala kelangsingan kolom : 0

Kolom 12
Nomor Batang : 12

Kendala gaya : 0
Kendala rasio penulangan : 0
Kendala jarak tulangan : 0
Kendala sengkang : 0
Kendala kelangsingan kolom : 0
